.order-item {
  padding: 20px;
  width: 100%;
  background-color: var(--whiteColor);
  border-radius: 10px;
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__info {
    flex-basis: 250px;
  }
}
.order-items {
  display: flex;
  align-items: flex-start;
  gap: 50px;
}
