@import "./reset.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  background-color: var(--lightGrayColor);
  box-sizing: border-box;
  color: var(--blackColor);
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &__layout {
    display: flex;
    align-items: flex-start;
    height: calc(100vh - 78px);
  }
}

main {
  height: 100%;
  flex: 1 1 auto;
  transition: all 0.5s;
  padding: 50px;
}

body {
  --main-bg: #1e2538;
  --whiteColor: #fff;
  --blueColor: #3657cb;
  --textColor: #1a1919;
  --borderColor: #d3d8dc;
  --secondaryTextColor: #060e1e;
  --greyLightColor: lightgray;
  --yellowColor: #f2f60f;
  --lightGrayColor: rgba(227, 230, 240, 0.72);
  --blackColor: #000;
  --lightBlueColor: rgba(54, 87, 203, 0.3);
  --greenColor: #4bcb36;
  --greyColor: gray;
}
