@import "./reset.scss";
@import "./root.scss";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 14px;
  background-color: var(--lightGrayColor);
  box-sizing: border-box;
  color: var(--blackColor);
}

.wrapper {
  width: 100%;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  &__layout {
    display: flex;
    align-items: flex-start;
    height: calc(100vh - 78px);
  }
}

main {
  height: 100%;
  flex: 1 1 auto;
  transition: all 0.5s;
  overflow: auto;
  position: relative;
}

section {
  padding: 50px;
}

.slide-in {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: var(--greyLightColor);
  transform-origin: left;
  z-index: 3000;
}

.slide-out {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100%;
  background-color: var(--greyLightColor);
  transform-origin: right;
  z-index: 3000;
}


.empty{
  font-size: 30px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}