body {
  --main-bg: #1e2538;
  --whiteColor: #fff;
  --blueColor: #3657cb;
  --textColor: #1a1919;
  --borderColor: #d3d8dc;
  --secondaryTextColor: #060e1e;
  --greyLightColor: lightgray;
  --yellowColor: #f2f60f;
  --lightGrayColor: rgba(227, 230, 240, 0.72);
  --blackColor: #000;
  --lightBlueColor: rgba(54, 87, 203, 0.3);
  --greenColor: #4bcb36;
  --greyColor: gray;
  --redColor: red;
}
