.product-item {
  border-radius: 10px;
  background: #fff;
  box-shadow: 0px 0px 10px 0px rgba(21, 177, 39, 0.25);
  padding: 23px 30px;
  overflow-x: auto;
  white-space: nowrap;
  &::-webkit-scrollbar {
    width: 5px;
    background-color: var(--whiteColor);
    border-radius: 5px;
    height: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: var(--greyColor);
    border-radius: 5px;
  }

  &__underline,
  &__name,
  &__serialNumber,
  &__guarante,
  &__currency,
  &__smallItem {
    max-width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -moz-box;
    -moz-box-orient: vertical;
    display: -webkit-box;
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    line-clamp: 10;
    box-orient: vertical;
  }
  &__body {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
  }
  &__info {
    flex-basis: 250px;
    min-width: 250px;
    font-size: 16px;
    white-space: break-spaces;
    padding: 0 15px;
    text-align: center;
  }
  &__photo {
    width: 70px;
    height: 70px;
  }
  &__name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
  }

  &__underline {
    width: fit-content;
    border-bottom: 1px solid gray;
    margin: 0 auto;
  }
  &__serialNumber {
    color: var(--greyColor);
    font-weight: 600;
  }
  &__guarante,
  &__currency {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: left;
  }
  &__smallItem {
    font-size: 13px;
    font-weight: 600;
    color: var(--greyColor);
  }
  &__guarante-wrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    span {
      max-width: 155px;
    }
  }
}
