.sidebar {
  display: flex;
  justify-content: center;
  background-color: var(--lightGrayColor);
  height: 100%;
  max-width: 250px;
  width: 100%;
  padding: 20px 0;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 0.95px 65.6px;
  &__body {
    display: flex;
    flex-direction: column;
    gap: 100px;
    width: 100%;
    align-items: center;
  }
  &__center {
    width: 100%;
  }
}
